#nav-bar {
    background-color: #00a087;
    width: 100%;
    height: 80px;
    color: #e8fdff;
    padding-left: 2em; 
    padding-right: 2em;
    top: 0;
    z-index: 100;
    position: fixed;
}

#nav-bar .logo {
    width: 80px;
    height: 80px;
    float: left;
}

#nav-bar .header {
    margin-left: 10px;
    float: left;
    font-size: 200%;
    line-height: 2.5em;
}
