#tweet-container {
    border: solid;
    border-width: thin;
    border-radius: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 1rem;
    height: 210px;
}

#tweet-container:hover {
    border-width: 2px;
}

#tweet-container .icons {
    display: none;
}

#tweet-container:hover .icons {
    display: inline-block;
    float: right;
}

#tweet-container footer span {
    float: left;
    margin: 10px;
    border: none;
}

#tweet-container img {
    margin: 10px;
    width: 40px;
    float: left;
}

#tweet-container header {
    background-color: rgb(198, 198, 198);
    height: 60px;
    width: 100%;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

#tweet-container:hover header {
    background-color: rgb(176, 176, 176);
}

#tweet-container .name {
    font-weight: bold;
    float: left;
    margin-top: 20px;
    font-size: 125%;
}

#tweet-container .username {
    float: right;
    margin: 10px;
    margin-top: 23px;
}

#tweet-container p {
    margin: 10px;
    height: 90px;
}